/* body {
  font-family: 'Eczar', serif;
} */

.app-container {
  /* background-image: url('./ocean.jpeg'); */
  background-color: #007991;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  align-self: center;
  font-size: 40px;
  font-weight: bold;
  border-style: solid;
  border-color: #004452;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  background-color: white;
  color: #004452;
}

.map-container {
  align-self: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actual-park {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.current-park {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-radius: 25px;
  background-color: white;
  color: #004452;
  border-color: #004452;
}

.clock {
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
}

.park-name {
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  opacity: 75%;
}

.next {
  margin: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #004452;
  color: #004452;
  font-weight: bold;
}

.next:hover {
  background-color: #004452;
  color: white;
}

.count {
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
}

.emojis {
  font-size: 30px;
  align-self: center;
}

.test {
  align-self: center;
  display: flex;
  flex-direction: column;
}

path {
  pointer-events: all;
  /* fill: white; */
}

path:hover {
  opacity: .75;
  cursor: pointer;
}

.modal-container {
  align-self: center;
  max-height: 5px;
  overflow: visible;
}


.winning-modal {
  position: fixed;
  top: 15%;
  left: 36%;
  max-width: 100%;
  max-height: 80%;
  background-color: white;
  margin: auto;
  padding: 40px;
  border: 2px solid  #004452;
  box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 1s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:  #004452;
  font-weight: bold;
}

/* @keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 300; opacity: 1}
} */

.percent {
  font-size: 20px;
}

.number {
  font-size: 25px;
}

.description-modal {
  position: fixed;
  top: 10%;
  left: 22%;
  max-width: 50%;
  max-height: 80%;
  background-color: white;
  margin: auto;
  padding: 10px;
  border: 2px solid  #004452;
  box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 1s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:  #004452;
}

/* @keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 300; opacity: 1}
} */

.modal-button {
  background-color: white;
  border: solid  #004452;
  border-radius: 10px;
  color:  #004452;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.modal-button:hover {
  background-color:  #004452;
  color: white;
}

.pic {
  object-fit: cover;
  height: 300px;
  width: 500px;
}

.desc-modal-title {
  font-size: 20px;
}

.win-modal-body {
  font-size: 40px;
}
